/*============================
    Hero
============================*/
.hero .tex1,
.tex2,
.tex3 {
    margin: .5rem 0;
    text-align: center;
    font-family: 'Almarai', sans-serif;
}

.hero .tex1 p {
    padding-top: 3rem;
    font-size: 15px;
    color: var(--vr-col-010);
}

.hero .tex2 p {
    padding-bottom: .7rem;
    font-size: 13px;
    color: var(--vr-col-010);
}

.hero .tex3 p {
    font-size: 18px;
    color: var(--vr-col-010);
}

@media (max-width: 910px) {
    .hero .tex1 p {
        padding-top: 1.8rem;
    }
}

@media (max-width: 300px) {
    .hero {
        display: none;
    }
}

/*============================
    Notifications
============================*/
.notifications .header-notification,
.types .header-types,
.articles .header-articles {
    text-align: center;
    padding: .8rem;
    border-radius: .3rem;
    background-color: var(--vr-col-023);
    font-family: 'nizar';
    font-size: 18px;
    margin-bottom: 2rem;
}

.notifications .header-notification h2,
.types .header-types h2,
.articles .header-articles h2 {
    color: var(--vr-col-002);
}

.notifications .header-notification h2 i,
.types .header-types i,
.articles .header-articles i {
    color: var(--vr-col-026);
    font-size: 22px;
}

.notifications .box-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.notifications .box-container .new {
    background-color: var(--vr-col-029);
}

.notifications .box-container .news {
    background-color: var(--vr-col-028);
}

.notifications .box-container .news,
.new {
    padding: 1rem 0rem;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    border-radius: 1rem;
    width: 40%;
}

.notifications .box-container .news h3,
.new h3 {
    color: var(--vr-col-002);
    text-align: center;
    font-weight: 100;
}

.notifications .box-container .news h3 i,
.notifications .box-container .new h3 i {
    color: var(--vr-col-004);
}

.notifications .box-container .new a,
.notifications .box-container .news a {
    display: block;
    text-align: center;
    margin: 1rem;
    color: var(--vr-col-011);
    background: var(--vr-col-002);
    border-radius: 1rem;
    text-align: center;
}

.notifications .box-container .new a:hover,
.notifications .box-container .news a:hover {
    background-color: var(--vr-col-011);
    color: var(--vr-col-002);
}

@media (max-width: 750px) {
    .notifications .box-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
    }

    .notifications .box-container .news,
    .new {
        width: 80%;
        margin-top: 3rem;
    }
}

@media (max-width: 300px) {
    .notifications {
        display: none;
    }
}

/*============================
    Types
============================*/
.types .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.types .box-container .card {
    border-radius: 1rem;
    text-align: center;
    background: var(--vr-col-029);
    position: relative;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1.2rem;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.types .box-container .card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -1.6rem;
    right: -1.6rem;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 3.3rem;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
}

.types .box-container .card:hover:before {
    transform: scale(28);
}

.types .box-container .card img {
    width: 4rem;
    margin-bottom: 02rem;
}

.types .box-container .card h3 {
    font-size: 18px;
    color: var(--vr-col-003);
    font-family: 'Cairo', sans-serif;
}

.types .box-container .card p {
    padding: 1rem 0;
    font-size: 16px;
    color: var(--vr-col-025);
    line-height: 2;
    font-family: 'Almarai', sans-serif;
}

@media (max-width: 360px) {
    .types .box-container {
        -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}

@media (max-width: 300px) {
    .types {
        display: none;
    }
}

/*==========================
    ARTICLES
=============================*/
.articles .box-container {
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.articles .box-container .box {
    border: 1.5px solid var(--vr-col-011);
    border-radius: 1px;
    background: var(--vr-col-029);
    padding: 1.3rem 1rem;
}

.articles .box-container .box .title {
    display: block;
    width: fit-content;
    transition: 0.3s;
    font-family: 'NotoKufi';
    font-size: 18px;
    color: var(--vr-col-002);
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.articles .box-container .title i {
    font-size: 28px;
}

.articles .box-container .box .tutorial-type {
    text-transform: capitalize;
    background: var(--vr-col-002);
    padding: .5rem 1rem;
    line-height: 1;
    border-radius: .6rem;
    display: inline-flex;
    margin: 1rem 0 0;
    margin-right: .5rem;
    color: var(--vr-col-002);
    font-size: 14px;
    font-family: "NotoKufi";
}

.articles .box-container .ar1 {
    border-right-color: var(--vr-col-022);
    border-right-width: .5rem;
}

.articles .box-container .ar2 {
    border-right-color: var(--vr-col-039);
    border-right-width: .5rem;
}

.articles .box-container .ar3 {
    border-right-color: var(--vr-col-040);
    border-right-width: .5rem;
}

.articles .box-container .ar4 {
    border-right-color: var(--vr-col-041);
    border-right-width: .5rem;
}

.articles .box-container #explanation {
    background: var(--vr-col-038);
}

.articles .box-container #bible {
    background: var(--vr-col-022);
}

.articles .box-container #articles {
    background: var(--vr-col-040);
}

.articles .box-container #jesus {
    background: var(--vr-col-038);
}

.articles .box-container #coptic-faith {
    background: var(--vr-col-022);
}

.articles .box-container #prayers {
    background: var(--vr-col-028);
}

.articles .box-container #charset {
    background: var(--vr-col-028);
}

.articles .box-container .ar1 .title i {
    color: var(--vr-col-038);
    margin-left: .5rem;
}

.articles .box-container .ar2 .title i {
    color: var(--vr-col-035);
    margin-left: .5rem;
}

.articles .box-container .ar3 .title i {
    color: var(--vr-col-040);
    margin-left: .5rem;
}

.articles .box-container .ar4 .title i {
    color: var(--vr-col-007);
    margin-left: .5rem;
}

@media (max-width: 300px) {
    .articles {
        display: none;
    }
}