#pic-1 {
    background-image: url(../../data/Media/modes/pic/pic-1.jpg);
}

#pic-2 {
    background-image: url(../../data/Media/modes/pic/pic-2.jpg);
}

#pic-3 {
    background-image: url(../../data/Media/modes/pic/pic-3.jpg);
}

#pic-4 {
    background-image: url(../../data/Media/modes/pic/pic-4.jpg);
}

#pic-5 {
    background-image: url(../../data/Media/modes/pic/pic-5.jpg);
}

#pic-6 {
    background-image: url(../../data/Media/modes/pic/pic-6.jpg);
}

#pic-7 {
    background-image: url(../../data/Media/modes/pic/pic-7.jpg);
}

#pic-8 {
    background-image: url(../../data/Media/modes/pic/pic-8.jpg);
}

#pic-9 {
    background-image: url(../../data/Media/modes/pic/pic-9.jpg);
}

#pic-10 {
    background-image: url(../../data/Media/modes/pic/pic-10.jpg);
}

#pic-11 {
    background-image: url(../../data/Media/modes/pic/pic-11.jpg);
}

#pic-12 {
    background-image: url(../../data/Media/modes/pic/pic-12.jpg);
}

#pic-13 {
    background-image: url(../../data/Media/modes/pic/pic-13.jpg);
}

#pic-14 {
    background-image: url(../../data/Media/modes/pic/pic-14.jpg);
}

#pic-15 {
    background-image: url(../../data/Media/modes/pic/pic-15.jpg);
}

#pic-16 {
    background-image: url(../../data/Media/modes/pic/pic-16.jpg);
}

#pic-17 {
    background-image: url(../../data/Media/modes/pic/pic-17.jpg);
}

#pic-18 {
    background-image: url(../../data/Media/modes/pic/pic-18.jpg);
}

#pic-19 {
    background-image: url(../../data/Media/modes/pic/pic-19.jpg);
}

#pic-20 {
    background-image: url(../../data/Media/modes/pic/pic-20.jpg);
}

#pic-21 {
    background-image: url(../../data/Media/modes/pic/pic-21.jpg);
}

#pic-22 {
    background-image: url(../../data/Media/modes/pic/pic-22.jpg);
}

#pic-23 {
    background-image: url(../../data/Media/modes/pic/pic-23.jpg);
}

#pic-24 {
    background-image: url(../../data/Media/modes/pic/pic-24.jpg);
}
